name: Windows MSBuild (XLL)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  SOLUTION_FILE_PATH: xll_template.sln
  BUILD_CONFIGURATION: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build
        run: msbuild /m /p:Configuration=Release /p:Platform=x64 xll_template.sln
